# Specify compatible browsers here. Code conversion is done by bable(JS), 
# postcssautoprefixer(css). This configuration is used by them.
# By default, it is specified as "defaults".
# For more detail, https://github.com/browserslist/browserslist#best-practices

defaults

# If you want to specify other configuration then "default", see https://github.com/browserslist/browserslist#full-list
# cover 99.5%
# If 99.5% isn't enough, maybe you have to change the code.